*.blk.c
*.fc.c
*.pyo
*.pyc

/Upgrading.html
/conf-parser.c
/core-version.c
/http-hdr.c
/httptokens.c
/httptokens.h

/zchk
/zchk-iop-plugin.so
/zchk-tstiop-plugin.so
/zgcd-bench
/ztst-asn1-wr
/ztst-blob-iconv
/ztst-cfgparser
/ztst-hattrie
/ztst-httpd
/ztst-iprintf
/ztst-iprintf-fp
/ztst-iprintf-glibc
/ztst-iprintf-speed
/ztst-lzo
/ztst-qps
/ztst-sort
/ztst-thrjob
/ztst-tpl
