/conf-parser.c
/charsets.def

/btree-dump
/test
/tst-blob-iconv
/tst-btree
/tst-cfgparser
/tst-hash
/tst-hashtbl
/tst-iprintf
/tst-iprintf-fp
/tst-iprintf-glibc
/tst-iprintf-speed
/tst-isndx
/tst-sha2
/tst-sort
/tst-stats
/tst-tpl
