/conf-parser.c
/charsets.def

/btree-dump
/test
/tst-blob-iconv
/tst-btree
/tst-cfgparser
/tst-hash
/tst-htbl
/tst-iprintf
/tst-iprintf-fp
/tst-iprintf-glibc
/tst-iprintf-speed
/tst-isndx
/tst-path
/tst-sort
/tst-stats
/tst-statsdump
/tst-tpl
